################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ViewFetchXML/.vs
/ViewFetchXML/obj/Debug
/ViewFetchXML/ViewFetchXML.csproj.user
/ViewFetchXML/bin
